html body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
html body #wrapperFirst #addItems {
  font-size: 25px;
}
html body #wrapperFirst #buttonAdd {
  font-size: 35px;
}
html body #wrapperFirst #parentOfTags #btnGroupWrapper {
  margin-left: 5px;
}
html body #wrapperFirst #parentOfTags #btnGroupWrapper button {
  background-color: black;
  color: white;
  height: 25px;
  border: 0;
}
html body #wrapperFirst #parentOfTags #btnGroupWrapper .cancelBtn {
  height: 25px;
  width: 25px;
  color: white;
}
html body #wrapperSecond {
  position: relative;
}
html body #wrapperSecond #selectItems {
  font-size: 25px;
  margin-top: 10px;
}
html body #wrapperSecond #autoList {
  background-color: #777777;
  font-size: 25px;
}
html body #wrapperSecond #parentTagsSelected {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  margin-top: 40px;
}
